tickTime={{ tick_time }}
dataDir={{ data_dir }}
dataLogDir={{ log_dir }}
clientPort={{ client_port }}
initLimit={{ init_limit }}
syncLimit={{ sync_limit }}

{% for host in zookeeper_hosts %}
server.{{host.id}}={{host.address}}:2888:3888
{% endfor %}
